<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>What you do:</strong>
  <%= @team.what_you_do %>
</p>

<p>
  <strong>What musical artist:</strong>
  <%= @team.what_musical_artist %>
</p>

<p>
  <strong>Best concert:</strong>
  <%= @team.best_concert %>
</p>

<p>
  <strong>Coolest experience:</strong>
  <%= @team.coolest_experience %>
</p>

<p>
  <strong>Consume cannabis:</strong>
  <%= @team.consume_cannabis %>
</p>

<p>
  <strong>Which instrument:</strong>
  <%= @team.which_instrument %>
</p>

<p>
  <strong>Beauty product:</strong>
  <%= @team.beauty_product %>
</p>

<p>
  <strong>Unique place:</strong>
  <%= @team.unique_place %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @team.photo %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
