<%= simple_form_for(@service) do |f| %>
<% if service.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
    <ul>
    <% service.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
      <%= f.input :title, required: true %>
      <%= f.input :subtitle, as: :ckeditor, required: true %>
      <%= f.input :description, as: :ckeditor %>

  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= f.button :submit, "Save",  class: 'btn btn-primary', style: "margin-bottom: 100px;" %>
  </div>
</div>


<% end %>
