<p id="notice"><%= notice %></p>

<h1>Services
  <%= link_to 'New Service Category', new_service_path, class: 'btn btn-sm btn-success float-right' %>
</h1>

<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Title</th>
      <th>
        Placement
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.order(:placement).each do |service| %>
      <tr>
        <td><%= link_to service.title, edit_service_path(service) %></td>
        <td><%= service.placement %></td>
        <td><%= link_to 'Edit', edit_service_path(service), class: 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
