<div class="page-title">
  <h2>WHO WE ARE</h2>
</div>
<section class="page-info">
  <p>We believe that <i>all</i> people involved in a project matter greatly to its success.<br /><br class="visible-xs"/>
That means us, our clients, influencers and talent, and above all—the people experiencing <br class="hidden-xs"/>what we’ve built together. So let’s get to know one another, shall we?</p>
</section>
<section class="intro-coddle people">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="titles"> <span class="title-bg"></span>
          <h3>ABOUT... THE PEOPLE</h3>
        </div>
        <%# <%= image_tag 'about/ideaison-team.jpg', class: 'visible-xs rounded-circle' %>
    <!-- end titles -->
        <p>We’re all working together for someone, right? You may call them fans, customers, users, or a target audience. Our preferred terminology is just "fans". In most cases with our work, we’re doing what we do for people who value experiences over things.
          <br />
          <br />
          Forbes notes that a staggering 74% of Americans today prioritize spending on events over products. As a team of Millenial and Gen Z’s, we prioritize freedom and embrace technology. We love to share, hate to wait and most importantly, we value connecting to others and sharing memories. We possess a uniquely global and inclusive world outlook and are open minded are iberal-leaning on key social and political issues. We favor brands whose socially conscious values align with our own. In preaching your event, we’d approach concepting with an inclusive, open minded ethos and take a stance on relevant issues—with caution. We’re skeptical of social media ‘slacktivism’ and want brands that take a stance on an issue to follow up with hard action. We are eager to take hard action, and often look for opportunities to volunteer or get involved in what we believe in.
          <br />
          <br />
          We shy away from the staged nature of social media and put authenticity and innovation front-and-center.
          <br />
          <br />
          <strong>We know how to speak about the experience economy because we are a part of it.</strong>
        </p>
    <!-- end article -->
			</div>
      <!-- <div class="col-lg-6 team-photo hidden-xs">
        <%# image_tag 'about/ideaison-team.jpg' %>
      </div> -->
		</div>
    <br />
    <br />
		<!-- end row -->
	<!-- end container -->
  <% @team.order(:placement).each do |person| %>
  <div class="row person">
    <div class="col-sm-3">
      <%= image_tag person.photo_url, class: 'img-fluid' %>
    </div>
    <div class="col-sm-9">
      <h3><%= person.name.html_safe %></h3>
      <!-- <h4>Founder, Creative Director</h4> -->
      <p><strong>What do you do for Ideaison?</strong></p>
        <%= person.what_you_do.html_safe %>
        <br />
        <p><strong>What musical artist deserves way more hype?</strong></p>
        <%= person.what_musical_artist.html_safe %>
        <br />
        <p><strong>Tell us about the best concert/show you've ever seen.</strong></p>
         <%= person.best_concert.html_safe %>
      <a class="read-more">More <i class="fas fa-caret-down"></i></a>
      <br />
    </div>
      <div class="col-sm-12 expand-text">
        <p><strong>Coolest experience you've had or been a part of?</strong></p>
         <%= person.coolest_experience.html_safe %>
         <br />
         <p><strong>Favorite way to consume cannabis?</strong></p>
        <%= person.consume_cannabis.html_safe %>
         <br />
         <p><strong>If you were a member of a band, which instrument would you play and why?</strong></p>
         <%= person.which_instrument.html_safe %>
         <br />
         <p><strong>Go to beauty product, item of clothing, and shoe.</strong></p>
         <%= person.beauty_product.html_safe %>
         <br />
         <p><strong>Most unique place you've traveled?</strong></p>
         <%= person.unique_place.html_safe %>
    </div>
  </div>
  <% end %>
</div>

</section>
<%= render 'shared/work-together' %>
