<div class="page-title">
  <h2>WHO WE (ALL) ARE</h2>
  <p>We believe that all people involved in a project matter greatly to its success. That means us, our clients, influencers and talent, and above all—the people experiencing what we’ve built together. So let’s get to know one another, shall we?</p>
</div>
<section class="intro-coddle people">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="titles"> <span class="title-bg"></span>
          <h3>ABOUT... THE PEOPLE</h3>
        </div>
    <!-- end titles -->
        <p>We’re all working together for someone, right? You may call them fans, customers, users, or a target audience. Our preferred terminology is just “people”. In most cases with our work, we’re doing what we do for <strong>Millenial and Gen Z people.</strong>
          <br />
          <br />
        They prioritize freedom and embrace technology. They love to share and hate to wait. They’re socially conscious, culturally aware, politically active, and more collaborative than any generations before them. They value people and experiences over things. <strong>We know these people because we are these people.</strong>
        </p>
    <!-- end article -->
			</div>
			<!-- end col-10 -->
		</div>
    <br />
    <br />
		<!-- end row -->
	<!-- end container -->
  <div class="row person">
    <div class="col-sm-3">
      <%= image_tag 'about/lauren.jpeg', class: 'img-fluid' %>
    </div>
    <div class="col-sm-9">
      <h3>Lauren Kashuk</h3>
      <h4>Founder, Creative Director</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="row person">
    <div class="col-sm-3">
      <%= image_tag 'about/naomi.jpeg', class: 'img-fluid' %>
    </div>
    <div class="col-sm-9">
      <h3>Naomi Gaeng</h3>
      <h4>Project Manager</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="row person">
    <div class="col-sm-3">
      <%= image_tag 'about/person-placeholder.png', class: 'img-fluid' %>
    </div>
    <div class="col-sm-9">
      <h3>Person Person</h3>
      <h4>Title</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>

</section>
<section class="intro-coddle partners">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="titles"> <span class="title-bg"></span>
          <h3>ABOUT... OUR PARTNERS</h3>
        </div>
    <!-- end titles -->
        <p>Our approach often includes bringing in <strong>talented people who others look up to and learn from.</strong>
          <br />
          <br />
        We love <strong>introducing underrepresented, diverse voices into the conversation</strong>— women, people of color, the LGBTQIA community… anyone who has a story to tell but who doesn’t always have the platform to tell it.
          <br />
          <br />
        We’re already spending our time immersed in the culture of the industries we specialize in, so if a project calls for (jargon alert!) an “influencer”... we can find that perfect someone for the job.
        </p>
    <!-- end article -->
			</div>
			<!-- end col-10 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<section class="clients">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- end titles -->
        <ul>
          <li><%= image_tag 'clients/420otb-transparent.png' %></li>
          <li><%= image_tag 'clients/1906.jpg' %></li>
          <li><%= image_tag 'clients/bte.jpg' %></li>
          <li><%= image_tag 'clients/cannabition.jpg' %></li>
          <li><%= image_tag 'clients/collaborative.jpg' %></li>
          <li><%= image_tag 'clients/google.jpg' %></li>
          <li><%= image_tag 'clients/hatchery.jpg' %></li>
          <li><%= image_tag 'clients/insomniac.jpg' %></li>
          <li><%= image_tag 'clients/mhp.jpg' %></li>
          <li><%= image_tag 'clients/my420tours.jpg' %></li>
          <li><%= image_tag 'clients/pbs.jpg' %></li>
          <li><%= image_tag 'clients/soco.jpg' %></li>
          <li><%= image_tag 'clients/superfly.jpg' %></li>
          <li><%= image_tag 'clients/tgs.jpg' %></li>
          <li><%= image_tag 'clients/we-them-us.jpg' %></li>
          <li><%= image_tag 'clients/wreath.png' %></li>
        </ul>
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
</section>
<%= render 'shared/work-together' %>
