
<div class="inner">
  <canvas id='canvas' class="paint-canvas"></canvas>
  <div id="mouse-message" style="position: absolute; color: white;">
     Click to paint
  </div>
  <div class="text-overlay">
    <h2>YOUR IDEA LIASIONS</h2>
    <!-- <p>
      Pron: eye-dee-azon
    </p> -->
    <p>We bring compelling ideas to life by connecting people together.</p>
    <a href="#" class="cta-btn hvr-radial-out">Learn More</a>
  </div>
</div>

<section class="side-image-content">
  <div class="side-image">
    <div class="left">
      <div class="reveal-effect se2-white wow" data-aos="slide-effect">
        <%= image_tag 'home/420-vocalist.jpg' %>
      </div>
      <!-- end slide-effect -->
      <div class="reveal-effect se2-white wow small-image" data-aos="slide-effect">
        <!-- <img src="images/image2.jpg" alt="Image">  -->
        <%= image_tag 'home/bliss-lounge-lauren.jpg' %>
      </div>
      <!-- end slide-effect -->
    </div>
    <!-- end left -->
    <div class="right">
      <div class="reveal-effect se2-white wow" data-aos="slide-effect">
        <%= image_tag 'home/she-said-so-ums.jpg' %>
      </div>
      <!-- end slide-effect -->
    </div>
    <!-- end right -->
  </div>
  <!-- end side-image -->
  <div class="side-content">
    <div class="titles"> <span class="title-bg"></span>
      <h3>ABOUT IDEAISON</h3>
    </div>
    <!-- end titles -->
    <p>Interactive digital experiences are continually becoming <u>more amazing</u> and <u>more complex</u> to produce. Our team is specially designed to create successful, custom, innovative digital products from the initial concept through full product launch.</p>
    <p>Strategists, researchers, product managers, <strong>UX/UI designers</strong>, technologists, web and mobile developers all working together, dedicated to your brand and your product. Talk To Our Team.</p>
    <a href="#" class="ghost-btn">
    <svg>
      <defs>
        <linearGradient id="grad1">
          <stop offset="0%" stop-color="#FF8282"/>
          <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
      </defs>
      <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="url(#grad1)"></rect>
    </svg>
    <span>Learn More +</span> </a> </div>
  <!-- end side-content -->
</section>
<!-- end side-image-content -->

<!-- <section class="feeding-coddle">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food01.jpg" alt="Image"></figure>
        <h6>Slices of Pizza</h6>
        <span class="odometer" id="1"></span>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food02.jpg" alt="Image"></figure>
        <h6>Box of Donuts</h6>
        <span class="odometer" id="2"></span>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food03.jpg" alt="Image"></figure>
        <h6>Roll of Tacos</h6>
        <span class="odometer" id="3"></span>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food04.jpg" alt="Image"></figure>
        <h6>Piece of Hotdog</h6>
        <span class="odometer" id="4"></span>
      </div>
    </div>
  </div>
</section> -->
<!-- end feeding-coddle -->

<!-- end container -->
<section class="main-features">
  <div class="container">
    <div class="row">
     <div class="col-12">
     	 <div class="titles">
     	 <span class="title-bg"></span>
    <h3>WHAT WE DO</h3>
  </div>
  <!-- end titles -->
     </div>
     <!-- end col-12 -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-box">
          <figure>
            <%= image_tag ('icons/imac.png') %>
          </figure>
          <span></span>
          <h5>Festivals and events</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">User Experience</a></li>
            <li><a href="#">Digital Ads</a></li>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end feature-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-box">
          <figure>
            <%= image_tag ('icons/circles.png') %>
          </figure>
          <span></span>
          <h5>Sites and social content</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">User Experience</a></li>
            <li><a href="#">Digital Ads</a></li>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end feature-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-box">
          <figure>
            <%= image_tag ('icons/rocket.png') %>
          </figure>
          <span></span>
          <h5>Experiential marketing (Fancy, huh?)</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">User Experience</a></li>
            <li><a href="#">Digital Ads</a></li>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end feature-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-box">
          <figure>
            <%= image_tag ('icons/engage.png') %>
          </figure>
          <span></span>
          <h5>And way more</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">User Experience</a></li>
            <li><a href="#">Digital Ads</a></li>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end feature-box -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->

  </div>
  <!-- end container -->
</section>

<section class="recent-works">
  <div class="titles"> <span class="title-bg"></span>
    <h3>RECENT WORK</h3>
  </div>
  <!-- end titles -->
  <ul class="works-filter">
    <li><a href="#" data-filter="*" class="current">ALL</a> </li>
    <li><a href="#" data-filter=".webuiux">WEB UI-UX</a></li>
    <li><a href="#" data-filter=".mobileapps">MOBILE APPS</a> </li>
    <li><a href="#" data-filter=".development">DEVELOPMENT</a> </li>
  </ul>
  <ul class="works-grid">
    <div class="coddle_box">
      <div class=""
    </div>
    <li class="webuiux">
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect">
            <%= image_tag 'portfolio/420-crowd.jpg', class: 'coddle__box__image' %>
          </div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="<%= image_path('home/420-headliner.jpg') %>" data-fancybox>420 ON THE BLOCK</a></h4>
            <p class="coddle__box__description">MUSIC FESTIVAL</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box --></li>
    <li class="mobileapps">
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"> <img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer2.jpg" data-fancybox>MOON WATCH</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box -->

    </li>
    <li class="development">
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"> <img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer3.jpg" data-fancybox>THE DESIGN VALUE</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box -->
    </li>
    <li>
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"><img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer4.jpg" data-fancybox>MISSING PUZZLE</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box -->
    </li>
    <li>
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"><img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer5.jpg" data-fancybox>NEXT BEAT</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box -->
    </li>
    <li>
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"><img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer6.jpg" data-fancybox>2 CARDS</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box -->
    </li>
    <li>
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"> <img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer7.jpg" data-fancybox>REVIEW</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box -->
    </li>
    <li>
      <div class="coddle__box">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow" data-aos="slide-effect"> <img class="coddle__box__image" src="<%= image_path('isolayer1.jpg') %>" alt="Image" /></div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title"><a href="images/isolayer9.jpg" data-fancybox>HERDIUS</a></h4>
            <p class="coddle__box__description">DIGITAL CREATION UI-UX</p>
          </figcaption>
        </figure>
      </div>
      <!--end coddle__box --></li>
  </ul>
</section>
<!-- end recent-works -->
