
<div class="inner">
  <canvas id='canvas' class="paint-canvas"></canvas>
  <div id="mouse-message" style="position: absolute; color: white;">
     Click and drag to paint
  </div>
  <div class="text-overlay">
    <h2>YOUR <br class="visible-xs"/>IDEA LIASIONS</h2>
    <!-- <p>
      Pron: eye-dee-azon
    </p> -->
    <p>We bring compelling ideas to life by connecting people together.</p>
    <a href="#" class="cta-btn">Our Story</a>
  </div>
</div>

<section class="side-image-content">
  <div class="side-image">
    <div class="left">
      <div class="reveal-effect se2-white wow" data-aos="slide-effect">
        <%= image_tag 'home/420-otb-artist.jpg' %>
      </div>
      <!-- end slide-effect -->
      <div class="reveal-effect se2-white wow small-image" data-aos="slide-effect">
          <%= image_tag 'home/chef-dave.jpg' %>
        <!-- <video width="100%" controls controlsList="nodownload">
          <source src="<%# asset_path('420-safety.mp4') %>" type="video/mp4">
           <source src="mov_bbb.ogg" type="video/ogg">
          <%# image_tag 'home/panda.png' %>

          Your browser does not support HTML5 video. Try using Google Chrome instead.
        </video> -->
      </div>
      <!-- end slide-effect -->
    </div>
    <!-- end left -->
    <div class="right">
      <div class="reveal-effect se2-white wow" data-aos="slide-effect">
        <%= image_tag 'home/protoje.jpg' %>
      </div>
      <!-- end slide-effect -->
    </div>
    <!-- end right -->
  </div>
  <!-- end side-image -->
  <div class="side-content">
    <div class="titles"> <span class="title-bg"></span>
      <h3>WHY WE EXIST</h3>
    </div>
    <!-- end titles -->
    <p>We think <strong>ideas should be compelling</strong>. The best ones <strong>attract attention, inspire action</strong>, and have that special something people find <strong>hard to resist</strong>.
      <br />
      <br />
    We started IDEAISON because we realized that the best way to come up with those truly great ideas is to simply focus our time and thought on things we actually care about. We believe that <strong>genuine enthusiasm is rocket fuel for smart strategies and creative solutions.</strong>
    <br />
    <br />
</p>
    <a href="/about" class="idea-btn pink">
    <span>Learn More +</span> </a>
  </div>
  <!-- end side-content -->
</section>
<!-- end side-image-content -->

<!-- <section class="feeding-coddle">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food01.jpg" alt="Image"></figure>
        <h6>Slices of Pizza</h6>
        <span class="odometer" id="1"></span>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food02.jpg" alt="Image"></figure>
        <h6>Box of Donuts</h6>
        <span class="odometer" id="2"></span>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food03.jpg" alt="Image"></figure>
        <h6>Roll of Tacos</h6>
        <span class="odometer" id="3"></span>
      </div>
      <div class="col-lg-2 col-md-2 col-6">
        <figure><img src="images/icon-food04.jpg" alt="Image"></figure>
        <h6>Piece of Hotdog</h6>
        <span class="odometer" id="4"></span>
      </div>
    </div>
  </div>
</section> -->
<!-- end feeding-coddle -->

<!-- end container -->
<section class="main-features">
  <div class="container">
    <div class="row">
     	 <div class="titles">
     	   <span class="title-bg"></span>
         <h3>WHAT WE DO</h3>
       </div>
       <%= render 'shared/services_boxes' %>
    </div>
    <!-- end row -->

  </div>
  <!-- end container -->
</section>

<%= render 'shared/portfolio-grid' %>
<%= render 'shared/testimonials_carousel' %>
<%= render 'shared/partners' %>
<!-- end clients -->
<% if false %>
<section class="recent-news">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="titles"> <span class="title-bg"></span>
          <h3>RECENT MUSINGS</h3>
        </div>
        <!-- end titles -->
      </div>
      <!-- end col-12 -->
      <div class="col-lg-4">
        <div class="news-box">
          <!-- <figure><img src="images/news01.jpg" alt="Image"></figure> -->
          <div class="news-content"> <small>02 August 2018</small>
            <h3>How to Choose the Right Digital Camera for You!</h3>
            <p>Enjoy low rates when you ship online or at The Coddle Join thousands of businesses making the right shipping decisions with our all-in-one intelligent freight platform</p>
            <a href="#">READ MORE</a> </div>
          <!-- end news-content -->
        </div>
        <!-- end news-box -->
      </div>
      <!-- end col-4 -->

      <div class="col-lg-4">
        <div class="news-box">
          <!-- <figure><img src="images/news02.jpg" alt="Image"></figure> -->
          <div class="news-content"> <small>02 August 2018 | </small>
            <h3>We care about empowering business</h3>
            <p>Sometimes we are a coach and trainer helping a business get better and sometimes we are a matchmaker finding the right partner, investor or distributor.</p>
            <a href="#">READ MORE</a> </div>
          <!-- end news-content -->
        </div>
        <!-- end news-box -->
      </div>
      <!-- end col-4 -->

      <div class="col-lg-4">
        <div class="news-box">
          <!-- <figure><img src="images/news03.jpg" alt="Image"></figure> -->
          <div class="news-content"> <small>02 August 2018 | by </small>
            <h3>We create beautiful websites across hundreds</h3>
            <p> Leveraging platforms it has enabled us to sell our video on demand globally to our loyal audience and build a profitable video on demand streaming service.</p>
            <a href="#">READ MORE</a> </div>
          <!-- end news-content -->
        </div>
        <!-- end news-box -->
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
</section>
<!-- end recent-news -->
<% end %>
<% render 'shared/work-together' %>
