<div class="page-title">
  <h2>WHAT WE DO</h2>
  <p>Our specific solutions are custom, but our general approach and philosophy applies across the board.
    <br />
    <br />
    We create universes. Regardless of the planet, the genetic makeup These start always starts with the same two ingredients: good ideas and good people.

  </p>
</div>
<section class="services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="service-box">
          <figure>
            <%= image_tag 'icons/icon01.png' %>
          </figure>
          <span></span>
          <h5>INFLUENCERS</h5>
          <p>By influencing the opinions and purchasing decisions of your buying community, we give brands a human face. The idea of reaching buyers through influence is not few, but the advent of social media and its 24/7 impact on our lives allows for scaling of opinions; and allows us to find those opinions more much easily and quickly than before. </p>
          <br />
          <br />
          <div class="expand-text" style="display:none;">
          <p>
            To determine if a person has the ability to be influential to your brand, we look holistically at their footprint.
          </p>
          <ul>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Curated Programs & Strategy
            </li>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Relationship Management
            </li>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Effectiveness
            </li>
          </ul>
        </div>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <div class="col-lg-4">
        <div class="service-box">
          <figure>
            <%= image_tag 'icons/icon01.png' %>
          </figure>
          <span></span>
          <h5>EXPERIENTIAL</h5>
          <p>Brands must create connections and interactions with customers as the demand for relevant, thoughtful and real-time content is increasing ever rapidly. We believe brands must be experienced or inserted into the framework of an experience to create impact. </p>
          <br />
          <br />
          <div class="expand-text" style="display:none;">
          <ul>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Activations & Immersive Environments
            </li>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Festivals & Events
            </li>
          </ul>
        </div>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <div class="col-lg-4">
        <div class="service-box">
          <figure>
            <%= image_tag 'icons/icon01.png' %>
          </figure>
          <span></span>
          <h5>BRAND & CONTENT STRATEGY</h5>
          <p>If you’re speaking to everyone, you’re speaking to no one. If you think everyone are your target market, you’ve already lost. We help you identify your brand’s white space and hone in on it. Then, we build the army to help you amplify it.  </p>
          <br />
          <br />
          <div class="expand-text" style="display:none;">
          <ul>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Branding, Naming & Messaging
            </li>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Strategy & Research
            </li>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Custom Sites & Social Content

            </li>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Campaign Creation & Execution
            </li>
          </ul>
        </div>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
