<div class="page-title">
  <h2>WHAT WE DO</h2>
  <p>Interactive digital experiences are continually</p>
</div>
<section class="services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
            <%= image_tag 'icons/icon01.png' %>
          </figure>
          <span></span>
          <h5>FESTIVALS AND EVENTS</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
            <%= image_tag 'icons/icon02.png' %>
          </figure>
          <span></span>
          <h5>MARKETING</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-3 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
              <%= image_tag 'icons/icon03.png' %>
          </figure>
          <span></span>
          <h5>WEB STRATEGY</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
              <%= image_tag 'icons/icon04.png' %>
          </figure>
          <span></span>
          <h5>DEVELOPMENT</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
              <%= image_tag 'icons/icon05.png' %>
          </figure>
          <span></span>
          <h5>ILLUSTRATION</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
            <%= image_tag 'icons/icon06.png' %>
          </figure>
          <span></span>
          <h5>PRINT DESIGN</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
              <%= image_tag 'icons/icon07.png' %>
          </figure>
          <span></span>
          <h5>OPTIMIZATION</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <div class="service-box">
          <figure>
              <%= image_tag 'icons/icon08.png' %>
          </figure>
          <span></span>
          <h5>TYPOGRAPHY</h5>
          <p>Interactive digital experiences are continually becoming more amazing and more complex to </p>
          <ul>
            <% 4.times do %>
            <li>
                <%= image_tag "icons/icon-check.svg", class: 'icon-check' %>
                &nbsp;Web Design
            </li>
            <% end %>
          </ul>
          <a href="#" class="more-link">+</a> </div>
        <!-- end service-box -->
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
