<section class="clients">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="titles"> <span class="title-bg"></span>
          <h3>OUR PARTNERS <br /><small>(Past and Present)</small></h3>
        </div>
        <!-- end titles -->
        <ul>
          <li><a href="https://420ontheblock.com/" target="_blank"><%= image_tag 'clients/420otb-transparent.png' %></a></li>
          <li><a href="https://1906newhighs.com/" target="_blank"><%= image_tag 'clients/1906.jpg' %></a></li>
          <li><a href="http://www.thebande.co/" target="_blank"><%= image_tag 'clients/bte.jpg' %></a></li>
          <li><a href="https://cannabition.com/" target="_blank"><%= image_tag 'clients/cannabition.jpg' %></a></li>
          <li><a href="https://collaborativeevents.com/" target="_blank"><%= image_tag 'clients/collaborative.jpg' %></a></li>
          <li><a href="https://google.com" target="_blank"><%= image_tag 'clients/google.jpg' %></a></li>
          <li><a href="http://www.hatchery17.com/" target="_blank"><%= image_tag 'clients/hatchery.jpg' %></a></li>
          <li><a href="http://punchbowlsocial.com" target="_blank"><%= image_tag 'clients/pbs.jpg' %></a></li>
          <li><a href="http://coclubs.com/" target="_blank"><%= image_tag 'clients/soco.jpg' %></a></li>
          <li><a href="https://superf.ly/" target="_blank"><%= image_tag 'clients/superfly.jpg' %></a></li>
          <li><a href="https://www.tgscolorado.com/" target="_blank"><%= image_tag 'clients/tgs.jpg' %></a></li>
          <li><a href="https://guayaki.com/" target="_blank"><%= image_tag 'clients/wreath.png' %></a></li>
          <li><a href="https://www.massroots.com/" target="_blank"><%= image_tag 'clients/massroots.jpg' %></a></li>
          <li><a href="https://www.stravacraftcoffee.com/" target="_blank"><%= image_tag 'clients/strava.jpg' %></a></li>
          <li><a href="https://maryjanesmedicinals.com/" target="_blank"><%= image_tag 'clients/maryj.jpg' %></a></li>
          <li><a href="https://thedime.copera.org/" target="_blank"><%= image_tag 'clients/the_dime.jpg' %></a></li>
          <li><a href="http://www.taurmanagement.com/" target="_blank"><%= image_tag 'clients/taur.jpg' %></a></li>
          <li><a href="https://www.bevibrant.com" target="_blank"><%= image_tag 'clients/vibrant.jpg' %></a></li>
        </ul>
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
</section>
