<div class="recent-works">
  <div class="titles"> <span class="title-bg"></span>
    <h3>RECENT WORK</h3>
  </div>
  <!-- end titles -->
  <ul class="works-grid spaced">
    <% @portfolios.order(:placement).each do |item| %>
    <li class="<%= Service.find(item.service_id).title.parameterize rescue '' %>">
      <div class="coddle__box launch-lightbox <%= 'private-item' if item.private %>">
        <figure class="coddle__box__figure">
          <div class="reveal-effect se2-white wow thumb-img" data-aos="slide-effect" style="background-image: url(<%= asset_url(item.thumbnail.url) %>)">
            <%# image_tag item.thumbnail.url, class: 'img-fluid coddle__box__image'  %>
          </div>
          <div class="coddle__box__deco coddle__box__deco--shine">
            <div></div>
          </div>
          <figcaption class="coddle__box__caption">
            <h4 class="coddle__box__title">
              <%= item.title %>
            </h4>
            <% if item.private %>
            <p class="coddle__box__description">Please contact us to view this content</p><a class="idea idea-btn launch-contact-modal">Request Access</a>
            <% else %>
            <% @service_1 = Service.find(item.service_id).title rescue '' %>
            <% @service_2 = Service.find(item.service_id_2).title rescue '' %>
            <p class="coddle__box__description"><%= @service_1.rstrip %><%= !@service_2.blank? ? ", #{Service.find(item.service_id_2).title}" : ''  %></p>
            <% end %>
          </figcaption>
        </figure>
        <div class="item-data" style="display: none;">
          <div class="item-images">
            <% item.images.each do |image| %>
              <% if !image.video_url.blank? %>
                <div class="iframe-wrapper">
                  <%= image.video_url.html_safe %>
                </div>
              <% else %>
              <div class="img-wrap">
                <%= image_tag image.photo_url, class: 'img-fluid' %>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class="item-text"
            data-title="<%= item.title %>"
            data-description="<%= item.description %>"
            data-people="<%= item.people %>"
            data-ideas="<%= item.ideas %>"
            data-three-things="<%= item.proud_of %>"
            data-cherry="<%= item.cherry_on_top %>"
            >
          </div>
        </div>
      <!--end coddle__box -->
    </li>
    <% end %>
  </ul>
</div>
<!-- end recent-works -->
