<% @services.order(:placement).each_with_index do |service, i| %>
<div class="col-lg-4 col-sm-12">
  <div class="feature-box">
    <figure>
      <% if i == 0 %>
        <%= image_tag ('icons/influencer.png'), class: 'influencer' %>
      <% elsif i == 1 %>
        <%= image_tag ('icons/experiential.png') %>
      <% else %>
        <%= image_tag ('icons/content.png') %>
      <% end %>
    </figure>
    <span></span>
    <h5><%= service.title %></h5>
      <%= service.subtitle.try(&:html_safe) %>
      <div class="expand-text">
      <br />
      <%= service.description.try(&:html_safe) %>
    </div>

    <a href="#" class="more-link">+</a> </div>
  <!-- end feature-box -->
</div>
<% end %>
