<%= simple_form_for(@image) do |f| %>
  <%= f.error_notification %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">


      <% if @image.video_url.blank? %>
        <%= f.input :caption, as: :text, input_html: {rows: 2}, maxlength: 150, label: 'Caption (also serves as Alt text, max 150 characters)' %>
        <%= f.input :photo %>
        <td><% unless @image.photo_url.nil? %><%= image_tag @image.photo_url, class: 'img-responsive', style: 'max-height: 300px;' %><br /><% end %></td>
      <% else %>
        <%= f.input :video_url, type: :string, html5: false, label: 'YouTube embed code (iframe)', placeholder: 'Ex: <iframe></iframe>' %>
      <% end %>
      <div class="row">
        <div class="col-sm-2">
          <%= f.input :placement, label: "Placement" %>
        </div>
      </div>
        <%= f.input :portfolio_id, as: :hidden, :input_html => { value: params[:portfolio_id] } %>
        <%= f.input :image_type, as: :hidden, :input_html => { value: params[:image_type]} %>
        <br />
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary', value: 'Update' %>
        </div>
    </div>

  </div>


<% end %>
