<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ideaison" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ideaison" %>">
    <%= csrf_meta_tags %>

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Ideaison">
    <meta property="og:image" content="<%= image_url('logos/ideaison-white-bg.jpg') %>">
    <meta property="og:site_name" content="Ideaison">
    <meta property="og:title" content="Ideaison">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ideaison.com">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Ideaison">
    <meta name="twitter:creator" content="Lauren Kashuk">
    <meta name="twitter:title" content="Ideaison">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="<%= image_url('logos/ideaison-white-bg.jpg') %>">

   <!-- google fonts -->
   <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Source+Sans+Pro" rel="stylesheet">

    <!-- CSS FILES -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="preloader">
      <svg class="spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
    <!-- end preloader -->
    <div class="transition-overlay"></div>
    <!-- end transition-overlay -->

    <%= render 'layouts/navigation' %>

     <%= yield %>

   <%= render 'shared/footer' %>
   <%= render 'shared/portfolio_overlay' %>

    <%= javascript_include_tag 'application' %>
    <script>
    	// PRELOADER
    		(function($) {
    			$(window).on('load', function(){
    				$("body").addClass("page-loaded");
    			});
    		})(jQuery)
    </script>

  </body>
</html>
